// 取数的整数部分
var getInt = function (n) {
  if (n) return parseInt(n)
  else return 0;
}

// 取数的小数部分，只返回两位
var getFloat = function (n) {
  if (n) {
    var f = (n.split("."))[1]
    if (f.length == 1) return f + "0"
    else return f.substring(0, 2)
  }
  else return "00";
}

// 自定义时间戳转成时间，形式如下
// x月x日 hh:mm
var newFormatTime = function (timestamp) {
  // 此处的先除以1000再乘以1000不可删除
  var date = getDate(timestamp / 1000 * 1000)
  return (date.getMonth() + 1) + '月' + date.getDate() + '日 ' + date.getHours() + ':' + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes())
}

module.exports = {
  getInt: getInt,
  getFloat: getFloat,
  newFormatTime: newFormatTime,
}